@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

html, body {
  width: 100vw;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;;
}

.navbar {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  background-color: #5787d7;
  position: fixed;
  top: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  margin: 0px;
  margin-left: 10px;
}

.navbar-left a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.navbar h2 {
  color: white;
  margin: 0px;
}

.navbar-span {
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.navbar-dot {
  margin-right: 10px;
  font-size: 27px;
}

.navbar-burger {
  margin: 0px;
  font-size: 40px;
}

.side-menu {
  font-family: 'Roboto', sans-serif;
  min-width: 75%;
  max-width: 75%;
  height: 100%;
  z-index: 9997;
  position: fixed;
  top: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.side-menu a {
  font-family: 'Roboto', sans-serif;
  color: black;
  text-decoration: none;
}

.side-menu-header {
  margin-left: 5px;
}

.side-menu-header h2 {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

.side-menu-header h3 {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

.side-menu-link-container {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.side-menu-link-wrapper {
  width: 100%;
  height: 50px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.top-border {
  border-top: 1px solid #787878;
}

.top-border-light {
  border-top: 1px solid #f0f0f0;
}

.dot-menu {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  width: 50%;
  height: auto;
  z-index: 9998;
  position: fixed;
  top: 50px;
  right: 0px;
  background-color: white;
  border-radius: 0px 0px 0px 5px;
}

.dot-menu-shadow {
  -webkit-box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 43px 0px rgba(0,0,0,0.75);
}

.shader {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9996;
  position: fixed;
  top: 0;
}

.spacer {
  width: 100%;
  height: 50px;
}

.calendar-wrapper {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100vw;
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}

.calendar-block {
  width: calc(100% / 7);
  height: auto;
  outline: 1px solid #f0f0f0;
  cursor: pointer;
}

.calendar-block:hover {
  outline: 2px solid #5787d7;
  z-index: 6;
}

.calendar-today {
  background-color: #abc3eb;
  z-index: 5;
}

.week-header {
  outline: none;
  background-color: #f0f0f0;
}

.weekday-label {
  width: calc(100% - 10px);
  text-align: right;
  margin-right: 10px;
}

.calendar-block h4 {
  margin: 0px;
  font-size: 75%;
}

.calendar-block p {
  font-size: 100%;
}

.calendar-arrow {
  min-width: 25%;
  text-align: center;
  margin: 0px;
  margin-top: 3px;
  margin-bottom: 5px;
}

.calendar-arrow a {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.calendar-header {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  min-width: 50%;
  text-align: center;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.calendar-header-wrapper {
  display: flex;
  flex-direction: row;
}

.calendar-block h1 {
  width: calc(100% - 5px);
  text-align: right;
  margin: 0px;
  margin-right: 5px;
  font-size: 150%;
}

.calendar-error-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.calendar-error-wrapper {
  width: 90%;
}

.calendar-error {
  width: 90%;
  color: red;
}

label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-style: bold;
}

.dot-menu-option {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.toggle {
  width: 15px;
  height: 15px;
  margin-top: 0px;
  margin-right: 10px;
  cursor: pointer;
}

.on {
  background: linear-gradient(90deg, green 50%, white 50%);
  border: 2px solid green;
}

.off {
  background: linear-gradient(90deg, white 50%, #2c2c2c 50%);
  border: 2px solid #2c2c2c;
}

.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  color: black;
  text-decoration: none;
}

.form-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

input[type="password"], input[type="email"] {
  border: 1px solid #999999;
  border-radius: 5px;
}

input[type="password"]:focus, input[type="email"]:focus {
  outline: none;
  box-shadow: 0 0 10px #5787d7;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input[type="submit"] {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: white;
  border: 1px solid #999999;
  border-radius: 5px;
  height: 25px;
  cursor: pointer;
  width: auto;
}

input[type="submit"]:hover {
  background-color: #5787d7;
  border-color: #5787d7;
}

.alert {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  position: fixed;
  top: 50px;
  width: 100%;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
  margin: 0px;
}

.event-wrapper h3,h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0px;
  width: 100%;
}

.event-wrapper {
  padding-left: 10px;
  width: 50%;
  height: auto;
  border-left: 5px solid #5787d7;
}

.event-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-container h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  width: 100%;
}
